include COPYING CONTRIBUTING.md MANIFEST.in README.md
include bugzilla.1
include xmlrpc-api-notes.txt
include python-bugzilla.spec
include *requirements.txt
recursive-include examples *.py
recursive-include tests *.py *.txt *.cfg
